.burger {
    position: absolute;
    top: 14px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    display: none;
}

.burger:focus {
    outline: none;
}

.burger_line {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

@media(max-width: 750px) {
  .burger {
    display: flex;
  }
}