.section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    gap: 20px;
}

.section_content a {
    color: #FF9933;
}

@media(max-width: 700px) {
    .section_content {
        width: 90%;
    }
}

@media(max-width: 500px) {
    .section_content {
        width: 100%;
    }
}