.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 50px;
}

.form input, textarea {
    padding: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid #FF9933;
    border-radius: 5px;
    resize: none;
    position: relative;
}

.form div {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}
